.app {
  max-width: 1024px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  &__header {
    width: 50%;
    padding: 4px;
    
    border: 1px solid black;
    color: black;
    
    text-align: center;
    font-size: 32px;
    font-weight: 600;
  }

  &__main {
    display: flex;
    flex-direction: row;
    // align-items: center;

    gap: 16px;
  }

  
  &__card-wrapper {
    flex-grow: 1;
    flex-shrink: 0;
  }

  &__pokemon-card {
    position: sticky;

    top: 128px;
  }
}
