.app {
  padding: 16px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include onDesktop {
    max-width: 1440px;
  }

  &__header {
    width: 50%;
    padding: 4px;
    
    border: 1px solid black;
    color: black;
    
    text-align: center;
    font-size: 32px;
    font-weight: 600;
  }

  &__main {
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
    gap: 16px;

    min-height: 660px;

    @include onTablet {
      flex-flow: row;

      gap: 64px;
    }

    @include onDesktop {
      flex-flow: row;
    }
  }

  &__card-wrapper {
    @include onTablet {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include onDesktop {
      width: 302px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__pokemon-card {
    position: sticky;

    top: 64px;

    @include onTablet {
      position: static;
    }

    @include onDesktop {
      position: static;
    }
  }

  &__footer {
    position: fixed;
    bottom: 0;
    padding: 16px 0;

    background-color: white;

    border-top: 1px solid gray;

    @include onTablet {
      position: static;
      padding: 0;
      border: none;
    }

    @include onDesktop {
      position: static;
      padding: 0;
      border: none;
    }
  }
}
